.nav a{
	color: #000;
}

.nav a:hover{
	background-color: #00BFFF;
	color: #fff;
}

.header{
	margin-top: 15px;
	margin-bottom: 10px;
}

.cuerpo{
	margin:20 auto;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #CEF6F5;
	height: 80%;
}

.footer{
	margin-bottom: 0;
	padding-bottom: 0;
}

.registrado{
	text-align: center;
}