.nav a{
	color: #000;
}

.nav a:hover{
	background-color: #00BFFF;
	color: #fff;
}

.header{
	margin-top: 15px;
	margin-bottom: 10px;
}

.cuerpo{
	height: 565px;
	margin:20 auto;
	margin-top: 3%;
	padding-right: 20px;
	padding-left: 20px;
}

.footer{
	margin-bottom: 0;
	padding-bottom: 0;
}

.registrado{
	text-align: center;
	color: #999999;
}

.index-titulo{
	text-align: center;
	width: 40%;
	margin:0 auto;
}

.index-cuerpo{
	margin: 0 auto;
}
.muestra_titulo{
	text-align: center;
}
.muestra_cuerpo{
	margin: 0 auto;
	padding-top: 5px;
}

.muestra_cuerpo div{
	border-width: 1px;
	border-style: dashed;
}

.muestra_cuerpo h5{
	text-align: center;
}

.text{
	width: 100%;
	margin-bottom: 15px;
	border: 0.35mm groove #008000;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
}
.search{
	margin-top: 15px;
}
.boton{
	margin-bottom: 15px;
	border: 0.35mm solid;
	border-radius: 5px;
	background-color: #3077BF;
	color: #fff;
	padding: 4px;
	width: 75px;
}

.textArea{
	width: 100%;
	margin-bottom: 15px;
	border: 0.35mm groove #008000;
    border-radius: 5px;
    height: 60px;
    padding-left: 10px;
}

.cuerpo-Listar table{
	width: 100%;
}