.nav a{
	color: #000;
}

.nav a:hover{
	background-color: #00BFFF;
	color: #fff;
}

.header{
	margin-top: 15px;
	margin-bottom: 10px;
}

.cuerpo{
	height: 595px;
	margin:20 auto;
	margin-top: 3%;
	padding-right: 20px;
	padding-left: 20px;
}

.footer{
	margin-bottom: 0;
	padding-bottom: 0;
}

.registrado{
	text-align: center;
}

.index-titulo{
	text-align: center;

}